.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
}
.titlename {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}
.navmenuright {
    margin-left: 900px;
}
.activ {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-right: 20px;
}
.activ:hover {
    color: rgb(104, 104, 233);
}
.active {
    color: rgb(104, 104, 212);
    font-weight: bold;
}
.hr {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.2;
}

@media (max-width: 1440px) {
    .navmenuright {
        margin-left: 400px;
    }
}

@media (max-width: 1024px) {
    .menu {
        margin-left: 0;
        text-align: center;
    }
    .activ {
        margin-right: 10px;
    }
    .navmenuright {
        margin-left: 0;
    }
    .titlename {
        margin-right: 90px;
    }
}
@media (max-width: 768px) {
    .titlename {
        font-size: 30px;
        margin-right: 20px;
    }
    .activ {
        font-size: 20px;
    }
}
@media (max-width: 425px) {
    .titlename {
        font-size: 14px;
        margin-right: 10px;
    }
    .activ {
        font-size: 10px;
    }
}